<script type="text/x-handlebars">
    <div class="row">
        {{partial "mainmenu"}}
    </div>

    <div class="row">
      {{outlet main}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="_mainmenu">
  <dl class="sub-nav pull-right">
    {{#linkTo dictionaries tagName="dd"}}<a href="javascript;">Dictionaries</a>{{/linkTo}}
    {{#linkTo connections tagName="dd"}}<a href="javascript;">Connections</a>{{/linkTo}}
  </dl>
</script>

<script type="text/x-handlebars" data-template-name="dictionaries">
  <div class="small-2 large-4 columns">
    <div class="button-bar">
      <ul class="button-group">
        <li>{{#linkTo "dictionaries.dicts" classNameBindings=":button :small" activeClass="disabled"}}Dictionaries{{/linkTo}}</li>
        <li>{{#linkTo "dictionaries.collaborators" classNameBindings=":button :small" activeClass="disabled"}}Collaborators{{/linkTo}}</li>
      </ul>
    </div>

    {{outlet dictwidgets}}
  </div>


  <div class="small-6 large-8 columns">
    <table width="100%">
      <thead>
          <tr>
            <th>#</th>
            <th>Russian</th>
            <th>Serbian</th>
          </tr>
      </thead>
      <tbody>
        {{#each entry in controller}}
          <tr>
            <td>{{entry.id}}</td>
            <td>{{entry.phrase}}</td>
            <td>{{entry.translation}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>



<script type="text/x-handlebars" data-template-name="connections">
    <div class="row">
      <div class="small-2 large-2 columns">
        avatar
      </div>
      <div class="small-10 large-10 columns">
        info
      </div>
    </div>

  <div class="row">
    <div class="small-2 large-2 columns">
      avatar
    </div>
    <div class="small-10 large-10 columns">
      info
    </div>
  </div>
</script>



<script type="text/x-handlebars" data-template-name="dictionaries-dicts-widget">
    <div class="panel">
      Dicts widget
    </div>
</script>

<script type="text/x-handlebars" data-template-name="dictionaries-collaborators-widget">
  <div class="panel">
    collaborators widget
  </div>
</script>