<dl class="sub-nav pull-right">
    {{#linkTo "dictionaries" tagName="dd"}}<a href="javascript;">Dictionaries</a>{{/linkTo}}
    {{#linkTo "connections" tagName="dd"}}<a href="javascript;">Connections</a>{{/linkTo}}
</dl>