<div class="user-info">
    <img {{bindAttr src="userAvatar"}} class="avatar"/>
    <span class="user-name">{{fullName}}</span>
</div>
<dl class="sub-nav pull-right">
    {{#linkTo "dictionaries" tagName="dd"}}<a href="javascript;"><i class="icon-book"></i> Dictionaries</a>{{/linkTo}}
    {{#linkTo "connections.search" tagName="dd"}}<a href="javascript;"><i class="icon-group"></i> Connections</a>{{/linkTo}}
</dl>