<div class="row">
    <div class="small-2 large-2 columns">
        avatar
    </div>
    <div class="small-10 large-10 columns">
        info
    </div>
</div>

<div class="row">
    <div class="small-2 large-2 columns">
        avatar
    </div>
    <div class="small-10 large-10 columns">
        info
    </div>
</div>