// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-panel{
  margin-top: 150px;

  a.social-login{
    margin-left: 60px;
  }
}

.user-info{
  display: inline;

  .avatar{
    float: left;
  }

  .user-name{

  }
}
